<table>
    <tr>
        <th>Forfait</th>
        <th>Prix par séance</th>
        <th>Total (Fourchette)*</th>
    </tr>

    <tr>
        <td><strong>Forfaits</strong></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Maillot simple + Aisselles</td>
        <td><strike>110 €</strike> <strong class="text-pink">70 €</strong></td>
        <td>De 350 à 700 €</td>
    </tr>
    <tr>
        <td>Maillot échancré + Aisselles</td>
        <td><strike>130 €</strike> <strong class="text-pink">85 €</strong></td>
        <td>De 425 à 850 €</td>
    </tr>
    <tr>
        <td>Maillot intégral + Aisselles + SIF</td>
        <td><strike>150 €</strike> <strong class="text-pink">130 €</strong></td>
        <td>De 650 à 1300 €</td>
    </tr>
    <tr>
        <td>Jambes entières + Maillot intégral + Aisselles + Sif</td>
        <td><strike>420 €</strike> <strong class="text-pink">340 €</strong></td>
        <td>De 1700 à 3400 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Maillot intégral + Aisselles + Sif</td>
        <td><strike>290 €</strike> <strong class="text-pink">240 €</strong></td>
        <td>De 1200 à 2400 €</td>
    </tr>

    <tr>
        <td><strong>Par zones</strong></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Aisselles</td>
        <td><strike>60 €</strike> <strong class="text-pink">35 €</strong></td>
        <td>De 175 à 350 €</td>
    </tr>
    <tr>
        <td>Demi-jambes</td>
        <td><strike>165 €</strike> <strong class="text-pink">150 €</strong></td>
        <td>De 750 à 1500 €</td>
    </tr>
    <tr>
        <td>Maillot simple</td>
        <td><strike>70 €</strike> <strong class="text-pink">50 €</strong></td>
        <td>De 250 à 500 €</td>
    </tr>
    <tr>
        <td>Maillot échancré</td>
        <td><strike>90 €</strike> <strong class="text-pink">70 €</strong></td>
        <td>De 350 à 700 €</td>
    </tr>
    <tr>
        <td>Maillot intégral + Sif</td>
        <td><strike>110 €</strike> <strong class="text-pink">95 €</strong></td>
        <td>De 475 à 950 €</td>
    </tr>
    <tr>
        <td>Jambes entières</td>
        <td><strike>320 €</strike> <strong class="text-pink">290 €</strong></td>
        <td>De 1450 à 2900 €</td>
    </tr>
    <tr>
        <td>Cuisses</td>
        <td><strike>200 €</strike> <strong class="text-pink">180 €</strong></td>
        <td>De 900 à 1800 €</td>
    </tr>

    <tr>
        <td><strong>Visage</strong></td>
        <td></td>
        <td></td>
    </tr>

    <tr>
        <td>Ovale du visage</td>
        <td><strike>80 €</strike> <strong class="text-pink">40 €</strong></td>
        <td>De 200 à 400 €</td>
    </tr>
</table>

<p style="font-size: 0.8em">*La colonne "Total" correspond à <strong>ce que paie un client en moyenne pour avoir une épilation définitive de la ou les zones mentionnées</strong>. Le nombre
    de séances, entre 5 et 10, dépend de chaque personne et ne peut-être déterminé que lors d'un examen. <strong>Lors de la consultation offerte avec notre médecin,
        vous obtiendrez le nombre de séances précis adapté pour vous (selon votre pilosité, votre couleur de poil, etc.), toujours dans la fourchette indiquée ci-dessus</strong>.</p>