<table>
    <tr>
        <th>Zone</th>
        <th>Prix par séance</th>
        <th>Total (Fourchette)*</th>
    </tr>
    <tr>
        <td>Aisselles</td>
        <td><strike>60 €</strike> <strong class="text-pink">35 €</strong></td>
        <td>De 175 à 300 €</td>
    </tr>
    <tr>
        <td>Demi-jambes</td>
        <td><strike>165 €</strike> <strong class="text-pink">150 €</strong></td>
        <td>De 750 à 825 €</td>
    </tr>
    <tr>
        <td>Maillot simple</td>
        <td><strike>70 €</strike> <strong class="text-pink">50 €</strong></td>
        <td>De 250 à 350 €</td>
    </tr>
    <tr>
        <td>Maillot échancré</td>
        <td><strike>90 €</strike> <strong class="text-pink">70 €</strong></td>
        <td>De 350 à 450 €</td>
    </tr>
    <tr>
        <td>Maillot intégral + Sif</td>
        <td><strike>110 €</strike> <strong class="text-pink">95 €</strong></td>
        <td>De 475 à 550 €</td>
    </tr>
    <tr>
        <td>Jambes entières</td>
        <td><strike>320 €</strike> <strong class="text-pink">290 €</strong></td>
        <td>De 1450 à 1600 €</td>
    </tr>
    <tr>
        <td>Cuisses</td>
        <td><strike>200 €</strike> <strong class="text-pink">180 €</strong></td>
        <td>De 900 à 1000 €</td>
    </tr>
    <tr>
        <td>3/4 cuisses</td>
        <td>150 €</td>
        <td>De 750 à 750 €</td>
    </tr>
    <tr>
        <td>Ventre</td>
        <td>80 €</td>
        <td>De 400 à 400 €</td>
    </tr>
    <tr>
        <td>Bas du dos</td>
        <td>80 €</td>
        <td>De 400 à 400 €</td>
    </tr>
    <tr>
        <td>Fesses</td>
        <td>100 €</td>
        <td>De 500 à 500 €</td>
    </tr>
    <tr>
        <td>Bras complets</td>
        <td>150 €</td>
        <td>De 750 à 750 €</td>
    </tr>
    <tr>
        <td>Avant bras</td>
        <td>115 €</td>
        <td>De 575 à 575 €</td>
    </tr>
    <tr>
        <td>Ligne ombilicale</td>
        <td>35 €</td>
        <td>De 175 à 175 €</td>
    </tr>
    <tr>
        <td>Mamelons</td>
        <td>35 €</td>
        <td>De 175 à 175 €</td>
    </tr>
    <tr>
        <td>Sillon inter-fessier</td>
        <td>35 €</td>
        <td>De 175 à 175 €</td>
    </tr>
    <tr>
        <td>Cou</td>
        <td>50 €</td>
        <td>De 250 à 250 €</td>
    </tr>
    <tr>
        <td>Nuque</td>
        <td>50 €</td>
        <td>De 250 à 250 €</td>
    </tr>
    <tr>
        <td>Mains</td>
        <td>35 €</td>
        <td>De 175 à 175 €</td>
    </tr>
    <tr>
        <td>Pieds</td>
        <td>35 €</td>
        <td>De 175 à 175 €</td>
    </tr>
</table>

<p style="font-size: 0.8em">*La colonne "Total" correspond à <strong>ce que paie un client en moyenne pour avoir une épilation définitive de la ou les zones mentionnées</strong>. Le nombre
    de séances, entre 5 et 10, dépend de chaque personne et ne peut-être déterminé que lors d'un examen. <strong>Lors de la consultation offerte avec notre médecin,
        vous obtiendrez le nombre de séances précis adapté pour vous (selon votre pilosité, votre couleur de poil, etc.), toujours dans la fourchette indiquée ci-dessus</strong>.</p>