<table>
    <tr>
        <th>Zone</th>
        <th>Prix par séance</th>
        <th>Total (Fourchette)*</th>
    </tr>
    <tr>
        <td>Menton + Cou</td>
        <td>70 €</td>
        <td>De 350 à 700 €</td>
    </tr>
    <tr>
        <td>Lèvres + Menton</td>
        <td>60 €</td>
        <td>De 300 à 600 €</td>
    </tr>
    <tr>
        <td>Lèvres</td>
        <td>35 €</td>
        <td>De 175 à 350 €</td>
    </tr>
    <tr>
        <td>Menton</td>
        <td>35 €</td>
        <td>De 175 à 350 €</td>
    </tr>
    <tr>
        <td>Ligne inter-sourcilière</td>
        <td>25 €</td>
        <td>De 125 à 250 €</td>
    </tr>
    <tr>
        <td>Ovale du visage</td>
        <td><strike>80 €</strike> <strong class="text-pink">40 €</strong></td>
        <td>De 200 à 400 €</td>
    </tr>
    <tr>
        <td>Visage entier</td>
        <td>100 €</td>
        <td>De 500 à 1000 €</td>
    </tr>
</table>

<p style="font-size: 0.8em">*La colonne "Total" correspond à <strong>ce que paie un client en moyenne pour avoir une épilation définitive de la ou les zones mentionnées</strong>. Le nombre
    de séances, entre 5 et 10, dépend de chaque personne et ne peut-être déterminé que lors d'un examen. <strong>Lors de la consultation offerte avec notre médecin,
        vous obtiendrez le nombre de séances précis adapté pour vous (selon votre pilosité, votre couleur de poil, etc.), toujours dans la fourchette indiquée ci-dessus</strong>.</p>