<table>
    <tr>
        <th>Forfait</th>
        <th>Prix par séance</th>
        <th>Total (Fourchette)*</th>
    </tr>

    <tr>
        <td>Maillot simple + Aisselles</td>
        <td><strike>110 €</strike> <strong class="text-pink">70 €</strong></td>
        <td>De 350 à 700 €</td>
    </tr>
    <tr>
        <td>Maillot échancré + Aisselles</td>
        <td><strike>130 €</strike> <strong class="text-pink">85 €</strong></td>
        <td>De 425 à 850 €</td>
    </tr>
    <tr>
        <td>Maillot intégral + Aisselles + SIF</td>
        <td><strike>150 €</strike> <strong class="text-pink">130 €</strong></td>
        <td>De 650 à 1300 €</td>
    </tr>
    <tr>
        <td>Jambes entières + Maillot intégral + Aisselles + Sif</td>
        <td><strike>420 €</strike> <strong class="text-pink">340 €</strong></td>
        <td>De 1700 à 3400 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Maillot intégral + Aisselles + Sif</td>
        <td><strike>290 €</strike> <strong class="text-pink">240 €</strong></td>
        <td>De 1200 à 2400 €</td>
    </tr>
    <tr>
        <td>Jambes entières + Maillot simple</td>
        <td><strike>350 €</strike> <strong class="text-pink">300 €</strong></td>
        <td>De 1500 à 3000 €</td>
    </tr>
    <tr>
        <td>Jambes entières + Maillot échancré</td>
        <td><strike>370 €</strike> <strong class="text-pink">320 €</strong></td>
        <td>De 1600 à 3200 €</td>
    </tr>
    <tr>
        <td>Jambes entières + Maillot simple + Aisselles</td>
        <td><strike>380 €</strike> <strong class="text-pink">330 €</strong></td>
        <td>De 1650 à 3300 €</td>
    </tr>
    <tr>
        <td>Jambes entières + Maillot échancré + Aisselles</td>
        <td><strike>400 €</strike> <strong class="text-pink">330 €</strong> </td>
        <td>De 1650 à 3300 €</td>
    </tr>
    <tr>
        <td>Jambes entières + Maillot intégral + Sif</td>
        <td><strike>390 €</strike> <strong class="text-pink">330 €</strong></td>
        <td>De 1650 à 3300 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Maillot simple</td>
        <td><strike>210 €</strike> <strong class="text-pink">190 €</strong></td>
        <td>De 950 à 1900 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Maillot échancré</td>
        <td><strike>230 €</strike> <strong class="text-pink">200 €</strong></td>
        <td>De 1000 à 2000 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Maillot intégral + Sif</td>
        <td><strike>250 €</strike> <strong class="text-pink">230 €</strong></td>
        <td>De 1150 à 2300 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Maillot simple + Aisselles</td>
        <td><strike>250 €</strike> <strong class="text-pink">230 €</strong></td>
        <td>De 1150 à 2300 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Maillot échancré + Aisselles</td>
        <td><strike>270 €</strike> <strong class="text-pink">230 €</strong></td>
        <td>De 1150 à 2300 €</td>
    </tr>
    <tr>
        <td>Demi-jambes + Aisselles</td>
        <td>200 €</td>
        <td>De 1000 à 2000 €</td>
    </tr>
    <tr>
        <td>Cuisses + Maillot simple + Aisselles</td>
        <td>280 €</td>
        <td>De 1400 à 2800 €</td>
    </tr>
    <tr>
        <td>Cuisses + Maillot échancré + Aisselles</td>
        <td>300 €</td>
        <td>De 1500 à 3000 €</td>
    </tr>
    <tr>
        <td>Cuisses + Maillot intégral + Aisselles + SIF</td>
        <td>320 €</td>
        <td>De 1600 à 3200 €</td>
    </tr>
</table>

<p style="font-size: 0.8em">*La colonne "Total" correspond à <strong>ce que paie un client en moyenne pour avoir une épilation définitive de la ou les zones mentionnées</strong>. Le nombre
    de séances, entre 5 et 10, dépend de chaque personne et ne peut-être déterminé que lors d'un examen. <strong>Lors de la consultation offerte avec notre médecin,
        vous obtiendrez le nombre de séances précis adapté pour vous (selon votre pilosité, votre couleur de poil, etc.), toujours dans la fourchette indiquée ci-dessus</strong>.</p>