---
pagination:
    data: home
    size: 1
    alias: variante
permalink: "/"
layout: "templates/v1-flex.njk"
default_referer: "google"
title: "🎓 Toutes nos formations en ligne diplômantes | Formation Sup'"
---