---
pagination:
    data: v1
    size: 1
    alias: variante
permalink: "/france-{{ variante.variante | slugify }}.html"
layout: "templates/v1-flex.njk"
default_referer: "google"
title: "Tourisme dentaire en Hongrie à Budapest | Ypsée"
---