---
pagination:
    data: v1
    size: 1
    alias: variante
permalink: "/toutes-formations-{{ variante.variante | slugify }}-fb.html"
layout: "templates/v1-flex.njk"
default_referer: "facebook"
title: "🎓 Toutes nos formations en ligne diplômantes | Formation Sup'"
---