---
layout: base.njk
---

<style>
    .infobar {
        background-color: var(--primary-color);
        color: white;
        font-size: 0.9em;
        text-align: center;
        font-weight: 600;
        padding: 10px 1rem;
    }

    .infobar a {
        color: white;
    }

    /* Tablettes en orientation portrait */
    @media (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
        .infobar {
            font-size: 1.2em;
        }
    }

    /* Tablettes en orientation paysage */
    @media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
        .infobar {
            font-size: 1.2em;
        }
    }

    /* Desktop et grands écrans */
    @media (min-width: 1025px) {
        .infobar {
            font-size: 1.2em;
        }
    }
</style>
{% if variante.infobar %}
    <a href="#form" class="invisible-link" data-tracked="click_infobar"><div class="infobar">{{ variante.infobar | safe }}</div></a>
{% endif %}

{% include "engine/blocks/nav/nav_1.njk" %}

<header class="page-container">
    <div class="form-container">
        <div>
            <div class="form-title-container">
                <h1 class="form-title">{{ variante.titre_form | safe }}</h1>
            </div>
            <p>Comme <strong>25 000 français chaque année</strong>, réalisez votre intervention dentaire en Hongrie, pour une <strong>qualité de soins égale ou supérieure</strong>. <strong>Ypsée s'occupe de tout</strong> : organisation du voyage, accompagnement et suivi post-opératoire.</p>
            <div style="padding-bottom: 2rem"></div>
            <a href="#form" class="invisible-link" data-tracked="click_pictos_header">
            {% include "engine/blocks/pictos/pictos_1.njk" %}
            </a>
            {% include "engine/blocks/puces/puces.njk" %}
        </div>
        <div id="form">
            <style>
                .content .titre_formulaire {
                    font-weight: bold;
                    font-size: 1.5em;
                    letter-spacing: -0.05em;
                    text-align: center;
                    padding-top: 20px;
                    color: var(--secondary-color);
                }
            </style>
            <div class="form-box form-dark" id="form-box">
                <p class="white titre_formulaire">{{ variante.accroche_form }}</p>
                <p class="align-center">Un chirurgien-dentiste vous rappelle pour vous proposer un devis et répondre à vos questions.</p>
                <p class="align-center"><strong>C'est gratuit et sans engagement !</strong></p>
                <iframe data-tally-src="https://tally.so/embed/3q588g?alignLeft=0&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="973" frameborder="0" marginheight="0" marginwidth="0" title="Ypsée V1"></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>
            </div>
        </div>
    </div>
</header>

<section class="page-container">
    <h2 class="align-center">Ils parlent d'Ypsée</h2>
    {% include "engine/blocks/logos_scp/logos_scp.njk" %}
</section>

</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const boxForm = document.getElementById("form-box");
        const triggerLinks = document.querySelectorAll('a[href="#form"]');
        triggerLinks.forEach(function(link) {
            link.addEventListener("click", function(event) {
                setTimeout(function() {
                    boxForm.classList.add("animate__animated", "animate__wobble");
                }, 750);
                setTimeout(function() {
                    boxForm.classList.remove("animate__animated", "animate__wobble");
                }, 2000);
            });
        });
    });
</script>

{% include "footer.njk" %}