---
permalink: "lead-ok.html"
title: "Votre demande a été reçue"
layout: base.njk
index: false
---

{% include "engine/tracking/tracking_leads.njk" %}

{% include "engine/blocks/nav/nav_1.njk" %}

<section class="align-center">
    <h1>Votre demande va être traitée</h1>
    <p>Le chirurgien-dentiste va prendre connaissance de vos informations et vous rappeler sous 24 heures.</p>
</section>