---
permalink: "lead-ok.html"
title: "Votre demande a été reçue"
layout: base.njk
index: false
---

{% include "engine/tracking/tracking_leads.njk" %}

{% include "engine/blocks/nav/nav_1.njk" %}

<section class="align-center">
    <h1>Votre demande est enregistrée</h1>
    <p style="text-align:center"><strong>Un formateur va vous appeler</strong> et il vous enverra la brochure concernant la formation qui vous conviendra le mieux <strong>après votre échange</strong>.</p>
    <p style="text-align:center; color: red;"><strong>Il est inutile de renvoyer une autre demande.</strong></p>
</section>